body {
  font-family: Arial, sans-serif;
  background-color: #fffcfc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: auto;
}
.banner img {
  width: 100%;
  margin: 20px 0;
}
.products {
  margin: 25px 0;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dce3e5;
}
.sec-name {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 20px;
}
.sec-name p {
  font-weight: 700;
  color: #0769da;
  margin: 5px 0 0 15px;
  cursor: pointer;
}

.product-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}
.product {
  width: 25%;
  text-align: center;
  position: relative;
}
.product img {
  width: 100%;
  height: auto;
}
.icons {
  display: flex;
  font-size: small;
  margin-top: 10px;
  color: gold;
}
.description {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}
.description p {
  font-size: 16px;
  line-height: 1.4;
}
.description .price .prev {
  color: #b6babe;
  text-decoration: line-through;
}
.description .price .current {
  color: #48515b;
}
.sale-badge {
  position: absolute;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  top: 10px;
  left: 10px;
}
.cart-icon {
  position: absolute;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
  transition: 3s;
}
.product:hover .cart-icon {
  display: flex !important;
}

@media (max-width: 767px) {
  .product-container {
    flex-direction: column;
  }
  .product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec-name {
    display: flex;
    justify-content: space-between;
      padding: 10px;
  }
  .sec-name h2,p{
font-size: 15px;
  }
  .sec-name p {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .product-container {
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
 .product {
    width: 48%;
  }
}